In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(open('data/Crime in Major Cities.xlsx','rb'), sheetname='Crime Rates 2010')

In [3]:
df.head()

,Metropolitan Statistical Area,All Violent,Murder,Rape,Robbery,Assault,All Property,Burglary,Larceny,Car Theft
0,"Abilene, TX M.S.A.",423.0,3.1,48.9,72.7,298.3,3617.3,1009.0,2459.8,148.5
1,"Akron, OH M.S.A.",304.7,3.7,40.9,105.1,155.0,3185.6,947.7,2074.5,163.3
2,"Albany, GA M.S.A.",566.0,8.7,24.9,150.4,382.1,4512.6,1417.8,2803.4,291.4
3,"Albany-Schenectady-Troy, NY M.S.A.",310.4,1.5,21.0,98.5,189.4,2693.6,512.1,2076.2,105.4
4,"Albuquerque, NM M.S.A.",670.4,5.8,44.8,124.3,495.6,3896.1,920.6,2586.2,389.4

In [4]:
df = df.fillna(0)

In [5]:
rows, cols = df.shape

In [6]:
rows

365

In [7]:
cols

10

In [8]:
df_sum = df.iloc[:, 1:].sum(axis=0)

In [9]:
df_sum

All Violent      139824.4
Murder             1487.8
Rape              11447.8
Robbery           34263.2
Assault           93938.2
All Property    1130899.8
Burglary         278540.2
Larceny          786626.2
Car Theft         73079.7
dtype: float64

In [10]:
for i in range(0, rows):
    for j in range(1, cols):
        df.iloc[i,j] = df.iloc[i,j] / df_sum[j-1] * 100

In [11]:
df.head()

,Metropolitan Statistical Area,All Violent,Murder,Rape,Robbery,Assault,All Property,Burglary,Larceny,Car Theft
0,"Abilene, TX M.S.A.",0.302522,0.208361,0.427156,0.212181,0.317549,0.319860,0.362246,0.312703,0.203203
1,"Akron, OH M.S.A.",0.217916,0.248689,0.357274,0.306743,0.165002,0.281687,0.340238,0.263721,0.223455
2,"Albany, GA M.S.A.",0.404793,0.584756,0.217509,0.438955,0.406757,0.399027,0.509011,0.356383,0.398743
3,"Albany-Schenectady-Troy, NY M.S.A.",0.221993,0.100820,0.183441,0.287480,0.201622,0.238182,0.183851,0.263937,0.144226
4,"Albuquerque, NM M.S.A.",0.479459,0.389837,0.391342,0.362780,0.527581,0.344513,0.330509,0.328771,0.532843

In [12]:
df.to_csv('Clime Rates Analysis 2010.csv', sep=',')

In [13]:
df = pd.read_excel(open('data/Crime in Major Cities.xlsx','rb'), sheetname='Crime Rates 2005')
df = df.fillna(0)
rows, cols = df.shape
df_sum = df.iloc[:, 1:].sum(axis=0)
for i in range(0, rows):
    for j in range(1, cols):
        df.iloc[i,j] = df.iloc[i,j] / df_sum[j-1] * 100
df.to_csv('Clime Rates Analysis 2005.csv', sep=',')

In [14]:
df = pd.read_excel(open('data/Crime in Major Cities.xlsx','rb'), sheetname='Crime Rates 2000')
df = df.fillna(0)
rows, cols = df.shape
df_sum = df.iloc[:, 1:].sum(axis=0)
for i in range(0, rows):
    for j in range(1, cols):
        df.iloc[i,j] = df.iloc[i,j] / df_sum[j-1] * 100
df.to_csv('Clime Rates Analysis 2000.csv', sep=',')